{
	/////////////////////////////////////////////////////////////////////////////////
	//
	//	Project Irisil places template dungeons on various planets.
	//
	//	There is no way to know which village will be inserted into the template until you visit.
	//
	//	This means that people using mods like More Planet Info will actually have to explore
	//	the planet to see what's on the surface. No instant gratification for you, cheater.
	//
	/////////////////////////////////////////////////////////////////////////////////
	//
	//	As the player explores the planet, a template village will gather a list of
	//	categories for villages that it is allowed to spawn.
	//
	//	This list is affected by simple rules, such as requirements for a specific biome,
	//	planet type, or the usage of a particular template village.
	//
	//	Once a valid category has been chosen, the template village will populate itself
	//	by placing microdungeons as the player approaches.
	//
	/////////////////////////////////////////////////////////////////////////////////
	//
	//	List of biome types and villages which can spawn
	//	Each category contains additional conditions:
	//
	//	requiredRaces
	//		species that must be installed for the village to spawn
	//		if multiple are specified, all are required
	//
	//-----------------------------------------------------------------------------
	//  requiredDesignTags
	//		these tags describe the shape of the terrain that the village uses
	//		this allows you to differentiate between spawning an ocean town or cave town, etc
	//		if multiple are specified, all are required
	//
	//-----------------------------------------------------------------------------
	//  blacklistedDesignTags
	//		tags which are incompatible with the category
	//		if multiple are specified, any of them will block a spawn
	//
	//-----------------------------------------------------------------------------
	//
	//  allowedPlanetTypes
	//		only allow this category to spawn on specific planets
	//		ignored if blank
	//
	//  disallowedPlanetTypes
	//		prevent this category from spawning on specific planets
	//		ignored if allowedPlanetTypes is being used
	//
	//		/\
	//		 
	//		 	These two behaviors are different on purpose!
	//
	//			A planet can only be one type at a time,
	//			but biome zones can overlap!
	//
	//		 	Please read carefully!
	//		 
	//		\/
	//
	//  allowedBiomeTypes
	//		only allow this category to spawn in specific biomes
	//		ignored if blank
	//		this checks the planet in 200x200 sectors. see lofty_irisil_util_biome.lua for details
	//		if ANY of the allowed biome types are present in the sector, this check succeeds
	//
	//	disallowedBiomeTypes
	//		prevent this category from spawning in specific biomes
	//		ignored if allowedBiomeTypes is being used
	//		this checks the planet in 200x200 sectors. see lofty_irisil_util_biome.lua for details
	//
	//-----------------------------------------------------------------------------
	//
	//  dungeonPartsConfigFile
	//		the config to load for microdungeon spawning
	//
	/////////////////////////////////////////////////////////////////////////////////
	
	"biomeTypes" : 
	{
		//	the 'any' biome is for villages which do not have biome requirements,
		//	or can appear in multiple biomes
		
		"any" : 
		{
			//"lofty_irisil_dvcat_villageRuins" : {}
			
			//TODO move this back to forest
			"lofty_irisil_dvcat_forest_shizubelle" : 
			{ 
				"requiredRaces" : [ "shizubelle" ],
				"requiredDesignTags" : [],
				"blacklistedDesignTags" : [],
				"allowedPlanetTypes" : [],
				"disallowedPlanetTypes" : [],
				"allowedBiomeTypes" : [],
				"disallowedBiomeTypes" : [],
				"dungeonPartsConfigFile" : "/dungeons/dynamic/shizubelle/shizubelle_forest_dynamicvillage.config"
			}
		},
		
		"alien" : 
		{
		},
		
		"arctic" : 
		{
		},
		
		"arcticoceanfloor" : 
		{
		},
		
		"asteroidfield" : 
		{
		},
		
		"barren" : 
		{
		},
		
		"cyberspace" : 
		{
		},
		
		"desert" : 
		{
			//"lofty_irisil_dvcat_desert_kyterran" : { "requiredRaces" : [ "satkyterran" ] },
			//"lofty_irisil_dvcat_desert_lamia" : { "requiredRaces" : [ "lamia" ] }
		},
		
		"forest" : 
		{ 
			
			
			// "lofty_irisil_dvcat_forest_spaceskunks" : { "requiredRaces" : [ "skumks" ] }
		},
		
		"garden" : 
		{
		},
		
		"jungle" : 
		{
		},
		
		"magma" : 
		{
		},
		
		"magmaoceanfloor" : 
		{
		},
		
		"midnight" : 
		{
		},
		
		"moon" : 
		{
		},
		
		"ocean" : 
		{
			// "lofty_irisil_dvcat_ocean_mollopod",
			// "lofty_irisil_dvcat_ocean_sirene"
		},
		
		"oceanfloor" :
		{
		},
		
		"savannah" : 
		{
		},
		
		"scorched" :
		{
		},
		
		"scorchedcity" : 
		{
		},
		
		"snow" : 
		{
		},
		
		"tentacle" : 
		{
		},
		
		"toxic" : 
		{
		},
		
		"toxicoceanfloor" : 
		{
		}, 
		
		"tundra" : 
		{
		},
		
		"volcanic" : 
		{
		},
		
		"volcanicterraform" : 
		{
		}
	}
}