{
	"40x40" : 
	{
		//sea shell store
		
		"lidv_shizu_shells_40x40" : 
		{
			"dungeonName" : "lidv_shizu_shells_40x40",
			"weight" : 1,
			"maxSpawnCount" : 1,
			"doNotCombineWith" : [],
			"requiredRaces" : [],
			"requiredDesignTags" : [],
			"blacklistedDesignTags" : [],
			"allowedPlanetTypes" : [],
			"disallowedPlanetTypes" : [],			
			"allowedBiomeTypes" : [],
			"disallowedBiomeTypes" : []
		}
	},
	
	"20x20" : 
	{
		//lamp posts
		
		"lidv_shizu_lamps_20x20" : 
		{
			"dungeonName" : "lidv_shizu_lamps_20x20",
			"weight" : 1,
			"maxSpawnCount" : 4,
			"doNotCombineWith" : [],
			"requiredRaces" : [],
			"requiredDesignTags" : [],
			"blacklistedDesignTags" : [],
			"allowedPlanetTypes" : [],
			"disallowedPlanetTypes" : [],			
			"allowedBiomeTypes" : [],
			"disallowedBiomeTypes" : []
		},
		
		"lidv_shizu_tree_20x20" : 
		{
			"dungeonName" : "lidv_shizu_tree_20x20",
			"weight" : 1,
			"maxSpawnCount" : 4,
			"doNotCombineWith" : [],
			"requiredRaces" : [],
			"requiredDesignTags" : [],
			"blacklistedDesignTags" : [],
			"allowedPlanetTypes" : [],
			"disallowedPlanetTypes" : [],			
			"allowedBiomeTypes" : [],
			"disallowedBiomeTypes" : []
		}
	},
	
	"4x2_Sapling" : 
	{
		//saplings
		
		"lidv_shizu_tree_sapling_1" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_1",
			"weight" : 1
		},
		"lidv_shizu_tree_sapling_2" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_2",
			"weight" : 1
		},
		"lidv_shizu_tree_sapling_3" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_3",
			"weight" : 1
		},
		"lidv_shizu_tree_sapling_4" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_4",
			"weight" : 1
		},
		"lidv_shizu_tree_sapling_5" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_5",
			"weight" : 1
		},
		"lidv_shizu_tree_sapling_6" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_6",
			"weight" : 1
		}
	},
	
	"11x2_ShellDisplay" : 
	{
		//shell merchant display lineups
		
		"lidv_shizu_shells_display_1" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_1",
			"weight" : 1
		},
		
		"lidv_shizu_shells_display_2" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_2",
			"weight" : 1
		},
		
		"lidv_shizu_shells_display_3" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_3",
			"weight" : 1
		}
	}
}