{

	"80x40" : 
	{
		//park
		"lidv_shizu_park_80x40" : 
		{
			"dungeonName" : "lidv_shizu_park_80x40",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		
		//train station equivalent
		"lidv_shizu_trainstation_80x40" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_80x40",
			"weight" : 1,
			"maxSpawnCount" : 1
		}
	},
	
	"40x40" : 
	{
		//generic "single-wide" villager houses
		"lidv_shizu_villagerhouse_modular_40x40" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouse_modular_40x40",
			"weight" : 1,
			"maxSpawnCount" : 14
		}
	},
	
	"20x20" : 
	{
		//lamp posts
		"lidv_shizu_lamps_20x20" : 
		{
			"dungeonName" : "lidv_shizu_lamps_20x20",
			"weight" : 1,
			"maxSpawnCount" : 4,
			"maxRadius" : 80
		},
		
		//tree planter - uses the 4x2_Sapling variations below
		"lidv_shizu_tree_20x20" : 
		{
			"dungeonName" : "lidv_shizu_tree_20x20",
			"weight" : 1,
			"maxSpawnCount" : 8
		},
		
		"lidv_shizu_statue_20x20" :
		{
			"dungeonName" : "lidv_shizu_statue_20x20",
			"weight" : 1,
			"maxSpawnCount" : 1
		}
	},
	
	//minor terrain height changes
	"10x20_UpRamp" : 
	{
		"lidv_shizu_upramp_10x20" : 
		{
			"dungeonName" : "lidv_shizu_upramp_10x20",
			"weight" : 1
		}
	},
	"10x20_DownRamp" : 
	{
		"lidv_shizu_downramp_10x20" : 
		{
			"dungeonName" : "lidv_shizu_downramp_10x20",
			"weight" : 1
		}
	},
	
	//western edge of the village
	"20x20_LeftCap" : 
	{
		"lidv_shizu_leftcap_20x20" : 
		{
			"dungeonName" : "lidv_shizu_leftcap_20x20",
			"weight" : 1
		}
	},
	
	//eastern edge of the village
	"20x20_RightCap" : 
	{
		"lidv_shizu_rightcap_20x20" : 
		{
			"dungeonName" : "lidv_shizu_rightcap_20x20",
			"weight" : 1
		}
	},
	
	//variations of types of trees that can appear in the planters
	"4x2_Sapling" : 
	{
		//leafy trees are slightly more common than other types
		//bell trees can only spawn once per village
		
		"lidv_shizu_tree_sapling_1" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_1",
			"weight" : 2
		},
		"lidv_shizu_tree_sapling_2" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_2",
			"weight" : 1.4
		},
		"lidv_shizu_tree_sapling_3" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_3",
			"weight" : 1.4
		},
		"lidv_shizu_tree_sapling_4" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_4",
			"weight" : 1.4
		},
		"lidv_shizu_tree_sapling_5" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_5",
			"weight" : 1.4
		},
		"lidv_shizu_tree_sapling_6" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_6",
			"weight" : 1.4
		},
		"lidv_shizu_tree_sapling_7" : 
		{
			"dungeonName" : "lidv_shizu_tree_sapling_7",
			"weight" : 1,
			"maxSpawnCount" : 1
		}
	},
	
	//variations of the lineup of seashells for the shell merchant
	"11x2_ShellDisplay" : 
	{
		"lidv_shizu_shells_display_1" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_1",
			"weight" : 1
		},
		
		"lidv_shizu_shells_display_2" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_2",
			"weight" : 1
		},
		
		"lidv_shizu_shells_display_3" : 
		{
			"dungeonName" : "lidv_shizu_shells_display_3",
			"weight" : 1
		}
	},
	
	"9x3_FossilDisplay" : 
	{
		"lidv_shizu_fossil_display_9x3_1" : 
		{
			"dungeonName" : "lidv_shizu_fossil_display_9x3_1",
			"weight" : 1
		},
		"lidv_shizu_fossil_display_9x3_2" : 
		{
			"dungeonName" : "lidv_shizu_fossil_display_9x3_2",
			"weight" : 1
		},
		"lidv_shizu_fossil_display_9x3_3" : 
		{
			"dungeonName" : "lidv_shizu_fossil_display_9x3_3",
			"weight" : 1
		}
	},
	
	//different furnished variations for the basic house interior
	"17x16_VillagerHouseInterior" : 
	{
		//vacant, villager spawner in cardboard boxes
		"lidv_shizu_villagerhouseinterior_17x16_1" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_1",
			
			//we want to try to spawn the themed houses more often than vacant ones,
			//but we also want the vacant ones to occasionally show up
			"weight" : 0.25
		},
		//gaming
		"lidv_shizu_villagerhouseinterior_17x16_2" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_2",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//sapling merchant
		"lidv_shizu_villagerhouseinterior_17x16_3" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_3",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//shell merchant
		"lidv_shizu_villagerhouseinterior_17x16_4" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_4",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//fossil house
		"lidv_shizu_villagerhouseinterior_17x16_5" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_5",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//christmas house
		"lidv_shizu_villagerhouseinterior_17x16_6" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_6",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//froggy chair house
		"lidv_shizu_villagerhouseinterior_17x16_7" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_7",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//fortune teller
		"lidv_shizu_villagerhouseinterior_17x16_8" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_8",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		//car salesman
		"lidv_shizu_villagerhouseinterior_17x16_9" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouseinterior_17x16_9",
			"weight" : 1,
			"maxSpawnCount" : 1
		}
	},
	
	//different colored roof variations for the basic houses
	"27x13_RoofSingleWide" : 
	{
		"lidv_shizu_villagerhouse_roof_27x13_red" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouse_roof_27x13_red",
			"weight" : 1
		},
		"lidv_shizu_villagerhouse_roof_27x13_blue" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouse_roof_27x13_blue",
			"weight" : 1
		},
		"lidv_shizu_villagerhouse_roof_27x13_green" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouse_roof_27x13_green",
			"weight" : 1
		},
		"lidv_shizu_villagerhouse_roof_27x13_yellow" : 
		{
			"dungeonName" : "lidv_shizu_villagerhouse_roof_27x13_yellow",
			"weight" : 1
		}
	},
	
	//train station roof styles
	"28x28_RoofTrainStation" : 
	{
		"lidv_shizu_trainstation_roof_28x28_red" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_28x28_red",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_28x28_blue" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_28x28_blue",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_28x28_green" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_28x28_green",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_28x28_yellow" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_28x28_yellow",
			"weight" : 1
		}
	},
	
	"18x5_TrainStationMailboxRoof" : 
	{
		"lidv_shizu_trainstation_roof_mailbox_18x5_red" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_mailbox_18x5_red",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_mailbox_18x5_blue" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_mailbox_18x5_blue",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_mailbox_18x5_green" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_mailbox_18x5_green",
			"weight" : 1
		},
		"lidv_shizu_trainstation_roof_mailbox_18x5_yellow" : 
		{
			"dungeonName" : "lidv_shizu_trainstation_roof_mailbox_18x5_yellow",
			"weight" : 1
		}
	},
	
	//park tents on left side of fire
	"8x3_LeftTents" : 
	{
		"lidv_shizu_park_lefttent_8x3_1" : 
		{
			"dungeonName" : "lidv_shizu_park_lefttent_8x3_1",
			"weight" : 1
		},
		"lidv_shizu_park_lefttent_8x3_2" : 
		{
			"dungeonName" : "lidv_shizu_park_lefttent_8x3_2",
			"weight" : 1
		},
		"lidv_shizu_park_lefttent_8x3_3" : 
		{
			"dungeonName" : "lidv_shizu_park_lefttent_8x3_3",
			"weight" : 1
		},
		"lidv_shizu_park_lefttent_8x3_4" : 
		{
			"dungeonName" : "lidv_shizu_park_lefttent_8x3_4",
			"weight" : 1
		},
		"lidv_shizu_park_lefttent_8x3_5" : 
		{
			"dungeonName" : "lidv_shizu_park_lefttent_8x3_5",
			"weight" : 1
		}
	},
	
	//park tents on right side of fire
	"8x3_RightTents" : 
	{
		"lidv_shizu_park_righttent_8x3_1" : 
		{
			"dungeonName" : "lidv_shizu_park_righttent_8x3_1",
			"weight" : 1
		},
		"lidv_shizu_park_righttent_8x3_2" : 
		{
			"dungeonName" : "lidv_shizu_park_righttent_8x3_2",
			"weight" : 1
		},
		"lidv_shizu_park_righttent_8x3_3" : 
		{
			"dungeonName" : "lidv_shizu_park_righttent_8x3_3",
			"weight" : 1
		},
		"lidv_shizu_park_righttent_8x3_4" : 
		{
			"dungeonName" : "lidv_shizu_park_righttent_8x3_4",
			"weight" : 1
		},
		"lidv_shizu_park_righttent_8x3_5" : 
		{
			"dungeonName" : "lidv_shizu_park_righttent_8x3_5",
			"weight" : 1
		}
	}
}