{
  "desiredDungeon" : "lofty_irisil_spacestation_exoticanimals",
  "nameFrom" : "/system_objects.config:lofty_irisil_spacestation_exoticanimals.parameters.displayName",
  "descFrom" : "/system_objects.config:lofty_irisil_spacestation_exoticanimals.parameters.description",
  
  //use find+replace with these values when editing this config file
  
	  //present in interface config, but not used in the script, here for easy find+replace
	  "activeTextColor" : 	[255, 62, 114],
	  
	  //color used for drawing the selection ring if placement is valid
	  "activeColor" : 		[63, 255, 114, 255],
	  
	  //used to recolor status text in topleft
	  "activeTextPrefix" : 	"^#ff3e72;",
	  
	  //faded area in planetary orbits that shows occupied/invalid system placement space
	  "deadZoneColor" : 	[41, 10, 18, 255],
	  
	  //present in interface config, but not used in the script, here for easy find+replace
	  "errorTextColor" : 	[255, 87, 81],
	  
	  //color used for drawing the selection ring if placement is invalid
	  "errorColor" : 		[255, 87, 81, 255],
	  
	  //used to recolor status text in topleft
	  "errorTextPrefix": 	"^#ff5751;",
	  
	  //present in interface config, but not used in the script, here for easy find+replace
	  "miscTextColor" : 	[185, 181, 178],
	  
	  //used to recolor coordinates in topright
	  "miscTextPrefix" : 	"^#b9b5b2;",
	  
  //-----------------------------------------------------------------
  
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/lofty_irisil/lofty_irisil_consoleheader.png",
      "fileBody" : "/interface/lofty_irisil/lofty_irisil_consolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Destination Transponder",
      "subtitle" : "^#b9b5b2;Verify location",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/lofty_irisil_storeicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "connectingLabel" : {
      "type" : "label",
      "position" : [5, 315],
      "vAnchor" : "top",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "Connecting to S.A.I.L...",
      "color" : [255, 62, 114],
      "mouseTransparent" : true
    },

    "coordinateLabel" : {
      "type" : "label",
      "position" : [390, 315],
      "vAnchor" : "top",
      "hAnchor" : "right",
      "width" : 120,
      "value" : "(0, 0)",
      "color" : [185, 181, 178],
      "visible" : false,
      "mouseTransparent" : true
    }
  },

  "scripts" : [ "/interface/lofty_irisil/lofty_irisil_placeanomaly.lua" ],
  "scriptDelta" : 1,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },

  "scriptWidgetCallbacks" : [
    "saveConfiguration"
  ],

  "objectRect" : [-1.5, -1.5, 1.5, 1.5],

  "dotCycle" : 1.0,
  "connect" : {
    "connectTime" : 2.5,
    "successTime" : 4.0,

    "connectText" : "Connecting to S.A.I.L",

    "failColor" : [255, 87, 81],
    "failText" : "Unable to establish high-bandwidth connection to S.A.I.L\nTry again from your ship",

    "successColor" : [255, 62, 114],
    "successText" : "High-bandwidth connection established\nTransferring system data"
  },

  "extraOrbitPadding" : 0.0,

  "connectedText" : "Link established",
  "coordinateText" : "(%s, %s)",

  "deploySequence" : {
    "dispatching" : 4.0,
    "traveling" : 8.0,
    "deploying" : 8.0,
    "deployFailure" : 16.0 // must be higher than deploying time
  },
  
  "deployingText" : {
    "dispatching" : "Requesting probe dispatch",
    "traveling" : "Probe dispatched.\nProbe approaching target orbit",
    "deploying" : "Probe has reached target orbit.\nDeploying destination",
    "deployed" : "Destination deployed",
    "error" : "Error deploying probe. \nConnection lost..."
  },

  "deployBlinkTime" : 1.0,

  "sounds" : {
    "open" : "/sfx/interface/stationtransponder_startup.ogg",
    "configure" : "/sfx/interface/stationtransponder_name.ogg",
    "typing" : "/sfx/interface/keypad_press.ogg",
    "valid" : "/sfx/interface/stationtransponder_valid1.ogg",
    "dispatch" : "/sfx/interface/stationtransponder_probeprep.ogg",
    "launch" : "/sfx/interface/stationtransponder_probelaunch2.ogg",
    "deploy" : "/sfx/interface/stationtransponder_stationpulse.ogg",
    "complete" : "/sfx/interface/ship_confirm1.ogg",
    "success" : "/sfx/cinematics/mission_unlock_event.ogg",
    "error" : "/sfx/interface/clickon_error.ogg"
  },
  
  "cockpitViewSettings" : {
    // screen radius to clamp system and planet views to
    "viewRadius": 130,

    // allowed scale range for system camera for each screen
    "scale": {
      "system": [0.4, 1.0]
    }
  }
}