//	This config file is used to set up the spawnable dungeon components
//	To modify the conditions that cause this village to spawn, edit dynamicVillages.config
//	which is located in:
//	 	/objects/spawner/spawners/villagebuildingspawner

//	Most of the time, you only need to edit the whitelist/blacklist/etc in dynamicVillages.config
//	However,
//	to give modders extremely fine-tuned control over how microdungeon spawns work,
//	the same settings are available on a per-microdungeon basis.

//	It is important to note that the village spawning rules are applied first,
//	then the microdungeon rules, if any, are applied second.

{
	"40x40" : 
	{
		"test_40x40_a" : 
		{
			//the name of the dungeon to place. required
			"dungeonName" : "lofty_irisil_dynamicvillage_test_40x40_a",
			
			//rarity of microdungeon. smaller = rarer. 
			//any value <= 0 will become a "last resort" spawn, which means it will only spawn if the village can't spawn anything else
			"weight" : 1,
			
			//how many times this microdungeon is allowed to spawn per village
			//if you don't care how many times it can spawn just remove this property
			//setting this to any number <= 0 will prevent spawning
			"maxSpawnCount" : 1,
			
			//microdungeons that this village should not combine together
			"doNotMixWith" : [],
			
			//races required for this particular microdungeon to spawn
			//this is useful if you want to mix and match two or more races in a village
			//if a race is already required for the village to spawn, you do NOT need to include it here, too
			"requiredRaces" : [],
				
			//design tags that the village template must have for this particular microdungeon to spawn
			//if multiple are specified, all are required
			"requiredDesignTags" : [],
			
			//design tags that the village template cannot have for this particular microdungeon to spawn
			"blacklistedDesignTags" : [],
			
			//only allow this microdungeon to spawn on these specific planet types
			"allowedPlanetTypes" : [],
			
			//never allow this microdungeon to spawn on these specific planet types
			"disallowedPlanetTypes" : [""],
			
			//only allow this microdungeon to spawn in sectors containing these specific biomes
			//if multiple are specified, at least one of them must be in the sector for the check to pass
			//you do not necessarily need to include biome zones that the template already checked, but it may improve accuracy if you do
			"allowedBiomeTypes" : [],
			
			//never allow this microdungeon to spawn in these specific biomes
			"disallowedBiomeTypes" : []
		},
		
		"test_40x40_b" : 
		{
			"dungeonName" : "lofty_irisil_dynamicvillage_test_40x40_b",
			"weight" : 1,
			"maxSpawnCount" : 1
		},
		
		"test_40x40_c" : 
		{
			"dungeonName" : "lofty_irisil_dynamicvillage_test_40x40_c",
			"weight" : 1,
			"maxSpawnCount" : 1
		}
	}
}