{
  "attack" : {
    "default" : {
    	"default" : [
        "Get some!"
      ]
    },
    "apex" : {
      "default" : [
        "Take some of this!",
        "We've worked too hard for you to screw this up!",
		"Get away from my racks!",
		"Intruders! Engaging!",
		"Light 'em up!"
      ]
    }
  }
}
