{

	"80x40" : 
	{
		
	},
	
	"40x40" : 
	{
		
	},
	
	"20x20" : 
	{
		"lidv_ruins1_pillar1_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_pillar1_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		}
		
		//pillar2
		
		//pillar3
		
		//fountain
		
		//irisa statue
	},
	
	//minor terrain height changes
	"10x20_UpRamp" : 
	{
		
	},
	"10x20_DownRamp" : 
	{
		
	},
	
	//western edge of the village
	"20x20_LeftCap" : 
	{
		
	},
	
	//eastern edge of the village
	"20x20_RightCap" : 
	{
		
	}
}