{

	"80x40" : 
	{
		
	},
	
	"40x40" : 
	{
		"lidv_ruins1_rubble1_40x40" : 
		{
			"dungeonName" : "lidv_ruins1_rubble1_40x40",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		"lidv_ruins1_rubble2_40x40" : 
		{
			"dungeonName" : "lidv_ruins1_rubble2_40x40",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		}
	},
	
	"20x20" : 
	{
		//smallarch1
		"lidv_ruins1_smallarch1_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_smallarch1_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//shortrubble1
		"lidv_ruins1_shortrubble1_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_shortrubble1_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//shortrubble2
		"lidv_ruins1_shortrubble2_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_shortrubble2_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//shortrubble3
		"lidv_ruins1_shortrubble3_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_shortrubble3_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//shortrubble4
		"lidv_ruins1_shortrubble4_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_shortrubble4_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//pillar1
		"lidv_ruins1_pillar1_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_pillar1_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//pillar2
		"lidv_ruins1_pillar2_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_pillar2_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//pillar3
		"lidv_ruins1_pillar3_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_pillar3_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//pillar4
		"lidv_ruins1_pillar4_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_pillar4_20x20",
			"weight" : 1,
			"maxSpawnCount" : 2,
			"maxRadius" : 80
		},
		
		//fountain
		"lidv_ruins1_fountain_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_fountain_20x20",
			"weight" : 1,
			"maxSpawnCount" : 1,
			"maxRadius" : 80
		},
		
		//irisa statue
		"lidv_ruins1_irisastatue_20x20" : 
		{
			"dungeonName" : "lidv_ruins1_irisastatue_20x20",
			"weight" : 1,
			"maxSpawnCount" : 1,
			"maxRadius" : 80
		}
	},
	
	//minor terrain height changes
	"10x20_UpRamp" : 
	{
		
	},
	"10x20_DownRamp" : 
	{
		
	},
	
	//western edge of the village
	"20x20_LeftCap" : 
	{
		
	},
	
	//eastern edge of the village
	"20x20_RightCap" : 
	{
		
	}
}