{
	"designTags" : 
	[
	
	//PER TEMPLATE
		//	The name of the template, just in case someone only wants this one
		"template:test_template",
	
	//TERRAIN
	
		//	Minor variations in terrain height. this is a reasonable default expectation for most towns
		//"mostlyFlat",
	
		//	Good for city streets or town designs where the buildings are all at the same ground level
		//  This is important for buildings that rely on uniform height for skybridges, etc
		"flat",
		
		//	Several variations in terrain height, but each level is a flat plateau
		//"terraced",
		
		//	Good for sand dunes or rolling hills
		//"organicHill",
		
		//	Good for cliffside builds like the Foundry biome
		//"organicCliff",
		
		//	Buildings that hang from the ceiling
		//"caveCeiling",
		
		//	Buildings that float on the water of an ocean
		//"oceanFloatilla",
		
		//	Intended to spawn as a chain of small islands on an ocean surface
		//"oceanArchipelago",
		
		//	Ocean floors
		//"oceanFloor",
		
		//	Generic floating island/dungeon
		//"floating",
		
		//	Space station town builds
		//"spaceStation",
		
	//FACTION
	
		//	Unlikely to shoot the player on sight
		"friendly"
		
		//	Likely to shoot the player on sight
		//"hostile",
		
		//	Neutral faction
		//"neutral,
		
	]
}