{
  "distanceRange" : [8, 14],
  "checkRegion" : [-3, -2, 3, 2],
  "liquidThreshold" : 0.9,
  
  /*
	Lofty note:
	
	In my own experience I've found the default numbers to be a really awful grind.
	I've doubled the rates for uncommon/rare/legendary fish for the slime fishing collection accordingly.
  */
  "rarities" : [
    [0.002, "legendary"],
    [0.08, "rare"],
    [0.4, "uncommon"],
    [100, "common"]
  ],
  "initialBias" : 0.2,
  "biasDropPerSpawn" : 0.1,
  "dayRange" : [0, 0.5],
  "nightRange" : [0.5, 1.0],
  "minDepth" : 4,
  "deepDepth" : 18,
  
  "allowedInstances" :
  {
	"lofty_irisil_fisheye" : { "oceanLevel" : 661 }
  },
  
  "pools" : {
    "lofty_irisil_fisheye" : {
      "common" : [
        {
          "monster" : "fishingjerk",
          "day" : true,
          "night" : true,
          "shallow" : true,
          "deep" : false
        },
        {
          "monster" : "fishingdirt",
          "day" : true,
          "night" : true,
          "shallow" : true,
          "deep" : true
        },
        {
          "monster" : "fishingchomp",
          "day" : true,
          "night" : true,
          "shallow" : false,
          "deep" : true
        }
      ],
      "uncommon" : [
        {
          "monster" : "fishingfunny",
          "day" : true,
          "night" : false,
          "shallow" : true,
          "deep" : false
        },
        {
          "monster" : "fishingfrill",
          "day" : true,
          "night" : false,
          "shallow" : true,
          "deep" : true
        },
        {
          "monster" : "fishingsquare",
          "day" : false,
          "night" : true,
          "shallow" : true,
          "deep" : false
        },
        {
          "monster" : "fishingjaw",
          "day" : false,
          "night" : true,
          "shallow" : false,
          "deep" : true
        }
      ],
      "rare" : [
        {
          "monster" : "fishingsunbeam",
          "day" : true,
          "night" : false,
          "shallow" : true,
          "deep" : false
        },
        {
          "monster" : "fishingtongue",
          "day" : true,
          "night" : false,
          "shallow" : false,
          "deep" : true
        },
        {
          "monster" : "fishinghoop",
          "day" : false,
          "night" : true,
          "shallow" : true,
          "deep" : true
        },
        {
          "monster" : "fishingworm",
          "day" : false,
          "night" : true,
          "shallow" : true,
          "deep" : true
        }
      ],
      "legendary" : [
        {
          "monster" : "fishingchuckle",
          "day" : true,
          "night" : true,
          "shallow" : false,
          "deep" : true
        }
      ]
    }
  }
}
