{
	"initialBias" : 0.2,
	"biasDropPerSpawn" : 0.1,
	"dayRange" : [0, 0.5],
	"nightRange" : [0.5, 1.0],
	"checkRegion" : [-3, -2, 3, 2],
	"distanceRange" : [8, 14],
	"liquidThreshold" : 0.9,
	
	"liquidIds" :  
	[ 
		{
			"liquidId" : 6,
			
			"eligibleLureTypes" : 
			[ 
				{ 
					"lureType" : "lofty_irisil_tombfishinglure",
					"availableFish" : 
					{
						"common" : 
						[ 
							{ 
								"monster" : "lofty_irisil_largefish_medjed",
								"day" : true,
								"night" : true
							}
						],
						
						"uncommon" : 
						[
						],
						
						"rare" : 
						[
							{
								"monster" : "lofty_irisil_largefish_crownedmedjed",
								"day" : true,
								"night" : true
							}
						],
						
						"legendary" : 
						[
						]
					},
					
					"rarities" : 
					[
						[0.01, "legendary"],
						[0.075, "rare"],
						[0.3, "uncommon"],
						[100, "common"]
					]
				}
			]
		}
	]
}